

@media handheld, only screen and (max-width: 600px){
    body {
        margin: auto;
        padding: 0px;
        width: 100%;
        font-family: PoiretOne-Regular;
        position: relative;
        width: 100%;
    }


#log{

    font-size: 23px;

}




#spnamenu{
font-size: 30px;
    cursor: pointer;
    color: #88627f;
    float: right;
    margin: 0px 10px 0px 0px;
    position: fixed;
    right: -13px;
    top: 0px;
    z-index: 9999;
    border-radius: 50px;
    width: 50px;
    text-align: center;
}




.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #88627f;
    z-index: 9999;
    overflow-y: hidden;
    transition: 0.5s;
}
.seta{
        width: 100px;
    margin: auto;
    position: relative;
    margin-top: -80px;
}

.overlay-content {
    position: relative;
    top: 9%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block;
    transition: 0.3s;

}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
position: absolute;
    top: 4px;
    right: 5px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;

    
  }
}






    @font-face {
        font-family: PoiretOne-Regular;
        src: url(../font/PoiretOne-Regular.ttf);
    }
    ::placeholder {
        color: #cdcdcd;
        font-size: 17px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif;
        font-weight: 400;
        line-height: 1.3125;
    }
    .ap {
        text-align: center;
        -webkit-animation-name: ap;
        -webkit-animation-duration: 1.5s;
        animation-name: ap;
        animation-duration: 1.5s;
        transition: 1.5s;
        margin: auto;
        max-width: 100%;
        height: 259px;
        background-image: linear-gradient(to right, #f09230, #774a90);
        margin-top: 100px;
    }
    .ap img {
        width: 300px;
        height: 100%;
    }
    @-webkit-keyframes ap {
        from {
            width: 0px;
            background-color: #0071ff;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            background-image: linear-gradient(to right, #f09230, #774a90);
        }
        to {
            width: 100%;
            background-image: linear-gradient(to right, #f09230, #774a90);
            background-color: #b500ff;
            background-position: center;
            background-repeat: no-repeat;
            display: none;
        }
    }
    /* Standard syntax */
    @keyframes ap {
        from {
            width: 0px;
            background-image: linear-gradient(to right, #f09230, #774a90);
            background-color: #0071ff;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
        }
        to {
            width: 100%;
            background-image: linear-gradient(to right, #f09230, #774a90);
            background-color: #b500ff;
            background-position: center;
            background-repeat: no-repeat;
            display: none;
        }
    }
    div#grad {
        width: 100%;
        -webkit-animation-name: example;
        -webkit-animation-duration: 1s;
        animation-name: example;
        animation-duration: 1s;
        background: #0071ff;
        margin: auto;
        height: 247px;
    }
    #grad img {
        width: 100%;
    }
    .auxbloco {
        float: left;
        width: 100%;
        position: relative;
        background-image: url(../img/fundobloco.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1000px;
        background-attachment: fixed;
    }
    .fundobloco1 {
        float: left;
        position: relative;
        width: 100%;
        padding-top: 100px;
    }
    .texto h2 {
        font-size: 50px;
    }
    .texto p {
        font-size: 30px;
    }
    .auxblocos {
        margin-top: 250px;
        padding: 70px 0px;
        margin: auto;
        width: 95%;
    }
    .corpoblocos {
        margin: auto;
    }
    .bloco {
        float: left;
        position: relative;
        margin: auto;
        width: 100%;
    }
    .texto,
    .vetorconteudo {
        position: relative;
        float: left;
        width: 100%
    }
    .vetorconteudo {
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
    }
    .texto {
        position: relative;
        float: left;
        width: 100%;
    }
    .faixacima {
        width: 100%;
        position: relative;
        float: left;
        height: 30px;
        background-image: linear-gradient(to top, #fff, transparent);
    }
    .faixabaixa {
        width: 100%;
        position: relative;
        float: left;
        height: 30px;
        background-image: linear-gradient(to top, transparent, #fff);
    }
    .saiba a {
        padding: 11px 84px;
        border-radius: 40px;
        text-align: center;
        border: 1px solid #b500ff;
        color: #b500ff;
        text-decoration: none;
        z-index: 9999;
        font-size: 27px;
        position: relative;
        transition: .5s;
    }

    .saiba a:hover{
        transition: .5s;
        color: #fff;
        background-color: #b500ff;
    }
    #message {
        float: left;
        width: 100%;
        height: 100px;
        background: #d84848;
    }




div.vetorconteudo > img{
    width: 100%;
}

.rodape{
        margin-top: 50px;
        padding: 70px 0px;
        margin: auto;
        width: 95%;
   


}

.rodaaux{
    float: left;
   
}

.org{
    float: left;
    width: 102%;
    position: relative;
    display: block;
    padding: 200px 0px;
}

.org h3{
    text-align: center;

}


.paipart{
    float: left;
    position: relative;
    width: 100%;
    display: block;

}
.blocopart {
    float: left;
    position: relative;
    width: 90%;
    display: block;
    text-align: justify;
    padding: 0px 3%;
}

.imgbloco{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    border: 1px solid #b500ff;
}



#mi{
    background-image: url(../img/mi.svg);
}
#vi{
    background-image: url(../img/vi.svg);
}


#va{
    background-image: url(../img/va.svg);
}



.artigos{
    padding-bottom: 200px;
    float: left;
    position: relative;
}

.artigos h3{
    text-align: center;
}

.artpai{
    float: left;
    width: 100%;
}


.blocosartig{
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    border: 1px solid #453d8b;
    margin: 20px 0px;
}


.blocosartig img{
    width: 100%;
    
}




#seta{
    margin-top: -50px
}








.partdalogo{
    float: left;
    position: relative;
    width: 100%;
    text-align: center;

}

.partdalogo img{
    width: 100%;
}


.textoobre{
    float: left;
    position: relative;
    width: 99%;
}


.redes{
    max-width: 100%;
    float: left;
    position: relative;
    text-align: center;
}
.rede{
width: 76px;
    height: 109px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: .2s;
}

#in:hover, #yo:hover, #fb:hover{
    background-size: 90%;
    transition: .2s
}

#in{
    background-image: url(../img/in.svg);
    transition: .2s
}

#yo{
    background-image: url(../img/yo.svg);
    transition: .2s
}
#fb{
    background-image: url(../img/f.svg);
    transition: .2s
}


.c{
        float: left;
    position: relative;
    width: 100%;
    text-align: center;
    color: #74488f;
}












.priperfil{
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 200px;

}

.perfil{
    float: left;
    width: 100%;

}

.perfil h3{
    text-align: center;
    font-size: 25px;
    
}


.perfil p{
    text-align: justify;
    font-size: 25px;
    
}



.caixafoto{
    width: 290px;
   position: relative;
   float: left;
   padding-left: 3%;

}


.linha{
    width: 22%;
    height: 1px;
    background-color: #b500ff;
    float: left;
    margin: 25% 0px 0px 0px;

}

.foto{
    float: left;
    position: relative;
    width: 145px;
    height: 145px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 200px;
    border: 1px solid #b500ff;

}


#foto1{
    background-image: url(../img/perfil1.png);
}



#foto2{
    background-image: url(../img/perfil2.png);
}



.textoobre p{
    font-size: 24px;
}







}